/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* end FONTS */

/* DEFAULT */

body{margin: 0px !important;}

p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(71, 71, 71, 0.8);
}

h1 b, h2 b, h3 b, h4 b, h5 b, p b, label b, span b{font-weight: 900;}

a{color: #6a87f2;}

/* end DEFAULT */

/* BUTTON FORM */

button.btn{
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #C2C2C2;

  border: 1px solid #C2C2C2;
  box-sizing: border-box;
  border-radius: 50px;
  background: #FFFFFF;
  padding: 5px 20px;
  display: block;
  cursor: pointer;
  transition: 0.2s all;
  pointer-events: none;
}

button.btn.able{
  background: #4569EF;
  color: #fff;
  pointer-events: all;
}

/* end BUTTON FORM */
